@import 'pretendard/dist/web/static/pretendard.css';
@import "tailwindcss";

body {
    background-color: #FFFBFB;
}
/* 바깥(body)으로 스크롤 전달 안 되게 */
* {
    overscroll-behavior: none;
}
@theme {
    --color-theme: #F5F5F5;
    --color-theme-bg: #F9F9F9;

    --color-primary: #7C86FF;
    --color-primary-bg: #FFFBFB;

    --color-secondary: #525252;
    --color-secondary-bg: #8C8C8C;

    --color-logotext: #2D23A0;
    --color-logotext-bg: #ffffffcc;

    --color-quaternary: #EBEBEB;

    --color-inprogress: #7CCF00;
    --color-inprogress-bg: #F0FDF4;
    --color-inprogress-third: #15803D;

    --color-refusal: #FB2C36;
    --color-refusal-bg: #FFE2E2;

    --color-examine: #FE9A00;
    --color-examine-bg: #FFFBEB;

    --color-kakao: #FFDD00;
    --color-naver: #03C75A;

    --font-sans: "Pretendard", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
